
<center>
<div class="bg-secondary">
    <div class="card-body">
        <p class="card-text">
            Sistemas Microinformaticos @derechos reservados 2023 HERNANDEZ VELASQUEZ ANGEL MANUEL
        </p>
    </div>
</div>
</center>

<!--pie-->