<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Pagina de entrada</title>
</head>
<style>
    body{
        background-color: bisque;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <%-include('partials/encabezado.html');%>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="bg-primary">
                    <form action="" method="post" class="">
                        <center>
                        <label for="NumContacto">Numero de Contrato:</label>
                        <br>
                        <input id="NumContrato" name="NumContrato" type="text">
        
                        <br>
        
                        <label for="Nombre">Nombre:</label>
                        <br>
                        <input id="Nombre" name="Nombre" type="text" required="true">
        
        
                        <br>
                        
                        <label for="Domicilio">Domicilio:</label>
                        <br>
                        <input id="Domicilio" name="Domicilio" type="text" required="true">
        
                        <br>
                        
                        <label for="NivelDeEstudios">Nivel de Estudios:</label>
                        <br>
                        <select name="NivelDeEstudios" id="NivelDeEstudios" value="" required="true">
                            <option value="Licenciatura">Licenciatura</option>
                            <option value="Maestria">Maestria</option>
                            <option value="Doctorado">Doctorado</option>
                        </select>
        
                        <br>
        
                        <label for="PagoDiario">Pago Diario Base:</label>
                        <br>
                        <input id="PagoDiario" name="PagoDiario" type="text" required="true">
        
                        <br>
        
                        <label for="DiasTrabajados">Dias Trabajados:</label>
                        <br>
                        <input id="DiasTrabajados" name="DiasTrabajados" type="text" required="true">
        
                        <br><br>
        
                        <div lass=" separacion">
                            
                                <input type="submit" value="Enviar">
                                <input type="reset" value="Limpiar">
                            </center>
                        </div>
                    </form>
                </div>
            
            </div>

        </div>
        <div class="row">
            <div class="col">
                <%-include('partials/piePagina.html');%>
            </div>
        </div>
        
    </div>

<!--Pagina principal-->
    
</body>
</html>